/* (1, 0, 0) */
/* (0, 2, 0) */
/* (0, 1, 0) */
/* (0, 0, 1) */
/* (0, 0, 0) */
/* id - clase - etiqueta */

/* Usar estilos desde el HTML (en línea como atributo) tiene una especificidad mayor */
/*  */
h1 {
    color: blue;
}

/* El css se lee de arriba abajo */
h1 {
    color: green !important;
    /* Este estilo siempre va a preevalecer por la etiqueta !important */
}

/* La especificidad de clase es mayor que de etiqueta */
.h1-clase {
    color: yellow;
}

/* La especificidad de id es mayor que el de clase */
#h1-id {
    color: pink;
}

p {
    color: red;
}